/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

:root {
  --custom-purple: #d39df5;
  --custom-yellow: #fff7dc;
  --custom-mustard: #f6ca00;
  --custom-gray: #b3b3b3;
  --custom-dark-yellow: #d5a100;
}

body {
  margin: 0;
  background-color: var(--custom-yellow);
  font-family: Arial, Helvetica, sans-serif;
}
