<form [formGroup]="contactForm" class="container flex-column mt">
  <div class="abs">
    <app-button [text]="'Basic Information'"></app-button>
  </div>
  <div class="flex-row mt bottom-border">
    <div class="flex-column f01 ml-0">
        <img
          matTooltip="Click to upload photo"
         class="layer" [src]="contact.photoUrl?contact.photoUrl:'./assets/avatar.png'" height="350px" (click)="editing?fileUpload.click():null">
      <input type="file" class="file-upload" accept="image/png, image/gif, image/jpeg" (change)="handleImageUpload($event)" #fileUpload >
    </div>
    <div class="flex-column f2 mr-0">
      <div class="flex-row">
        <div class="flex-column">
          <app-editable [isEditing]="editing" [class]="'h1'" formControlName="name"  [label]="'name'"></app-editable>
          <app-editable [isEditing]="editing" [class]="'h3'" formControlName="phone"  [label]="'phone'"></app-editable>
        </div>
      </div>
      <div class="flex-row text-align-end mr-0">
        <div class="mi-1">
          <app-button [class]="'large'" (click)="editHandle()" [text]="editing?'Save':'Edit'"></app-button>
        </div>
        <div class="mi-1">
          <app-button [class]="'large'" [text]="'Delete'"></app-button>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-row mb-0">
    <h2>Bio</h2>
  </div>
  <div class="flex-row">
    <app-editable [isEditing]="editing" [class]="'p'" formControlName="bio" [large]="true" [label]="'bio'"></app-editable>
  </div>
</form>
