<div class="container">
  <div class="row">
    <app-button [text]="gridEnabled?'List':'Grid'" (click)="changeView()"></app-button>
  </div>
  <div class="row ml">
    <div class="text-wrapper">
      <h1>Users</h1>
    </div>
    <app-input [handleSearch]="handleOnSearch"></app-input>
  </div>
  <div class="row ml">
    <app-button [text]="'Add Contact'" [icon]="true" [class]="'large'" (click)="handleAddContactClick()"></app-button>
  </div>

  <div *ngIf="gridEnabled">
    <app-contacts-grid [handleContactClick]="handleContactClick" [contacts]="contacts"></app-contacts-grid>
  </div>
  <div *ngIf="!gridEnabled">
    <app-contacts-list [contacts]="contacts"></app-contacts-list>
  </div>
</div>
