.container {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

.row {
  width: 90vw;
  padding: 0.5rem;
  display: inline-block;
  vertical-align: bottom;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.ml {
  margin-left: 3rem;
}

.text-wrapper {
  display: inline-block;
  margin-right: 2rem;
}
